.todo-func,
.input_todo{
    border-radius: 20px;
    /* text-align: center; */
    display: inline-block;
    text-align: left;
    overflow: hidden;
    /* width: 60%; */
    margin: 0 0 0 30%;
    /* display: table; */
    padding: 1em 2em;
}
.todo-func:hover,
.input_todo:hover{
    border-top: 3px solid #FFF842;
    border-bottom: 3px solid #FFF842;
    transition: border 0.3s ease-in;
}
/* td button, */
.todo-func input,
.todo-func button,
.input_todo select,
.input_todo input{
    padding: 0.3em 2em;
    margin: auto 1em auto 0;
    border-radius: 30px;
    background-color: #2C3446;
    color: white;
    border: 2px solid rgb(22, 28, 41);
}
.input_todo select:focus,
.input_todo input:focus{
    border: 2px solid #FB667A;
}
td button{
    padding: 0.3em 1em;
    margin: auto 0.25em;
    border-radius: 30px;
    background-color: #2C3446;
    color: white;
    border: 2px solid rgb(22, 28, 41);
}